<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<!--    <parameter name="" value=""></parameter>-->
    <test verbose="2" preserve-order="true" name="test1">

<!--        <parameter name="vip" value="${vip}"/>-->
<!--        <parameter name="type" value="${type}"/>-->
<!--        <parameter name="classes" value="${classes}"/>-->
<!--        <parameter name="price" value="${price}"/>-->
<!--        <parameter name="freezone" value="${freezone}"/>-->
<!--        <parameter name="section" value="${section}"/>-->
<!--        <parameter name="jsonText" value="${jsonText}"/>-->
<!--        <parameter name="specialText" value="${specialText}"/>-->
<!--        <parameter name="ans" value="${ans}"/>-->
        <classes>

            <class name="com.example.test.testngTest"/>
        </classes>
    </test>
</suite>